@use 'src/variables'as var;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: var.$app-background;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 10000 !important;
}