<div class="auth-form">
    <h1>Login page</h1>
    <form class="auth-form__form">
        <mat-form-field class="auth-form__row" appearance="fill">
            <mat-label>Email</mat-label>
            <input
                matInput
                formControlName="email"
                type="email"
                placeholder="somebody@example.com"
            />
        </mat-form-field>

        <mat-form-field class="auth-form__row" appearance="fill">
            <mat-label>Password</mat-label>
            <input
                matInput
                formControlName="Password"
                type="password"
                placeholder="********"
            />
        </mat-form-field>
        <button type="submit" color="primary" mat-raised-button>Submit</button>
    </form>
</div>
