<div class="main__transactions__cards">
    <div
        class="main__transactions__cards__card"
        *ngFor="let tt of transactions"
    >
        <div class="main__transactions__cards__card__category cate_bg_primary">
            {{ tt.category_id?.name }}
        </div>
        <div class="main__transactions__cards__card__content">
            <div class="_top">{{ tt.description }}</div>
            <div class="_bottom">
                <mat-icon class="income_bg" *ngIf="tt.isIncome"
                    >arrow_downward</mat-icon
                >
                <mat-icon *ngIf="!tt.isIncome" class="expense_bg"
                    >arrow_upward</mat-icon
                >
                <div class="__type" *ngIf="tt.isIncome">Income</div>
                <div class="__type" *ngIf="!tt.isIncome">Expense</div>
                &nbsp; · &nbsp;
                <div class="__date">
                    {{ tt.createdAt | date: 'mediumDate' }}
                </div>
                &nbsp; · &nbsp;
                <div class="__note">{{ tt.note }}</div>
            </div>
        </div>
        <div class="main__transactions__cards__card__amount expense_color">
            {{ tt.amount }} {{ activeAccount.currency_id?.symbol }}
        </div>
    </div>
</div>
