@use "src/variables"as var;

.main__transactions__cards {

    &__card {
        background-color: var.$app-white;
        position: relative;
        position: relative;
        border-radius: 10px;
        margin-bottom: 25px;
        width: 600px;
        height: 90px;
        display: flex;
        align-items: center;

        &__category {
            width: 150px;
            height: 65px;
            color: white;
            border-radius: 10px;
            margin: 0 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
        }

        .cate_bg_primary {
            background: #74b9ff;
        }

        &__content {
            color: var.$login-button-color;

            ._top {
                font-size: 20px;
                margin-bottom: 10px;
            }

            ._bottom {
                display: flex;
                align-items: center;
                font-size: 16px;

                mat-icon {
                    color: var.$app-white;

                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 5px;
                }

                .expense_bg {
                    background-color: var.$expense-bg;
                }

                .income_bg {
                    background-color: var.$income-bg;
                }
            }

        }

        &__amount {
            position: absolute;
            right: 15px;
            top: 12px;
            font-size: 22px;
        }

        .expense_color {
            color: var.$expense-bg;
        }

        .income_color {
            color: var.$income-bg;
        }

        .card-details {
            position: absolute;
            bottom: 5px;
            right: 10px;
            font-size: 14px;
            text-decoration: none;
            z-index: 99;
            padding: 5px;
            color: #373737;
            border: none;
            background: none;
        }
    }

}


.modal {
    &__dialog {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 590px;
        padding: 0;
        margin: auto;
        color: #333333;

        &__content {
            border: none !important;
            border-radius: 0 !important;
            height: 100%;
            width: 100%;
            padding: 40px 35px;
            position: relative;

            &__header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;


                .__title {
                    font-size: 32px;
                    margin-right: 30px;
                }

                button {
                    transform: scale(1.4);
                    background: none;
                    border: none;
                    color: #333333;
                }
            }

            .form-row {
                width: 100%;
            }

            &__row {
                display: flex;
                border-bottom: 1px solid #333333;
                padding: 16px 0;

                .__key {
                    width: 170px;
                    font-size: 20px;
                    font-weight: bold;
                }

                .__value {
                    width: calc(100% - 240px);
                    font-size: 20px;
                }
            }


            .button-row {
                position: absolute;
                bottom: 15px;
                right: 40px;


                .cancel-button {
                    border: none;
                    box-shadow: none;
                    font-size: 20px;
                    padding: 15px 25px;
                    border-radius: 10px;
                    color: var.$login-button-border;
                }

                .submit-button {
                    border: none;
                    box-shadow: none;
                    font-size: 20px;
                    background-color: #B9E2E6;
                    padding: 15px 25px;
                    margin-left: 10px;
                    border-radius: 10px;
                }

                .submit-button-active {
                    color: black;
                }
            }

        }
    }
}