@use "src/variables"as var;

.main__filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: calc(100vh - 129px);

    &__top {
        display: flex;
        flex-direction: column;

        button {
            cursor: pointer;
            width: 235px;
            height: 50px;
            background: none;
            background-color: #fff;
            border: none;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 20px;
            margin-bottom: 15px;
            color: var.$login-button-color;
            font-family: 'Space Grotesk', sans-serif !important;


            mat-icon {
                color: white;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 7px;
                margin-left: 10px;
            }

            .income_bg {
                background-color: var.$income-bg;
            }

            .expense_bg {
                background-color: var.$expense-bg;
            }

            .transaction_bg {
                background-color: #fff;
                color: #86C9CF;
            }

        }

        &__transaction,
        &__account {
            background-color: #86C9CF !important;

        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;

        button {
            cursor: pointer;
            width: 235px;
            background: none;
            border: none;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 20px;
            margin-bottom: 15px;
            font-family: 'Space Grotesk', sans-serif;
            color: var.$login-button-color;

            img {
                border-radius: 50%;
                height: 35px;
                width: 35px;
                background: #fff;
                margin-left: 5px;
                margin-right: 10px;
            }
        }

        &__add-piggy {
            height: 50px;
            background-color: #B9E2E6 !important;
        }


        &__piggybank {
            height: 64px;
            background-color: #FECEE2 !important;

            div {
                width: calc(100% - 89px);
                text-align: left;
                margin-right: auto;

                .__text {
                    width: 100%;
                }

                .__balance {
                    width: 100%;
                    font-size: 13px;
                    text-align: left;
                    margin-bottom: 3px;
                    margin-top: 3px;
                }

                mat-progress-bar {
                    margin-bottom: 2px;
                }

                ::ng-deep .mat-progress-bar-fill::after {
                    background-color: #FF76AE;
                }

                ::ng-deep .mat-progress-bar-buffer {
                    background: #E4E8EB;
                }

                ::ng-deep .mat-progress-bar {
                    border-radius: 2px;
                }
            }

            mat-icon {
                width: 35px;
                height: 35px;
                background-color: white;
                border-radius: 50%;
                color: #FF76AE;
                margin-right: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }


    }
}