<div class="main__filters">
    <div class="main__filters__top">
        <button type="button" class="main__filters__top__income">
            <mat-icon class="income_bg">arrow_upward</mat-icon> Income
        </button>
        <button type="button" class="main__filters__top__expense">
            <mat-icon class="expense_bg">arrow_downward</mat-icon> Expense
        </button>
        <button type="button" class="main__filters__top__transaction">
            <mat-icon class="transaction_bg">add</mat-icon> Add Transaction
        </button>
        <button type="button" class="main__filters__top__account">
            <mat-icon class="transaction_bg">add</mat-icon> Add Account
        </button>
    </div>

    <div class="main__filters__bottom">
        <button type="button" class="main__filters__bottom__add-piggy">
            <img src="../../assets/img/piggy.svg" alt="Piggy" />
            Add Piggy Bank
        </button>
        <button type="button" class="main__filters__bottom__piggybank">
            <img src="../../assets/img/piggy.svg" alt="Piggy" />
            <div>
                <div class="__text">Appartment</div>
                <div class="__balance">$ 1500 / 5000</div>
                <mat-progress-bar
                    mode="determinate"
                    value="40"
                ></mat-progress-bar>
            </div>
            <mat-icon>add</mat-icon>
        </button>

        <button type="button" class="main__filters__bottom__piggybank">
            <img src="../../assets/img/piggy.svg" alt="Piggy" />
            <div>
                <div class="__text">Car</div>
                <div class="__balance">$ 12000</div>
                <mat-progress-bar
                    mode="determinate"
                    value="70"
                ></mat-progress-bar>
            </div>
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
