<main class="main">
    <div class="main__accounts">
        <div class="main__accounts__card active">
            <div class="main__accounts__card__title">Debit Card</div>
            <div class="main__accounts__card__balance">5,125.5</div>
            <div class="main__accounts__card__currency">$</div>
        </div>

        <div class="main__accounts__card">
            <div class="white-layout"></div>
            <div class="main__accounts__card__title">Debit Card</div>
            <div class="main__accounts__card__balance">5,125.5</div>
            <div class="main__accounts__card__currency">$</div>
        </div>
    </div>
    <div class="main__categories"></div>
    <div class="main__filters"></div>
</main>
