<main class="main">
    <app-account [accounts]="userAccounts"></app-account>
    <div class="main__transactions">
        <form class="main__transactions__search" action="#">
            <div>
                <button type="submit"><mat-icon>search</mat-icon></button>
                <input type="text" placeholder="Search" />
            </div>
        </form>
        <div class="main__transactions__sort">
            <button type="button">
                <mat-icon>sort</mat-icon>
                <div>Transaction date</div>
            </button>
        </div>
        <div class="main__filters">
            <app-transaction></app-transaction>
        </div>
    </div>
    <app-filter></app-filter>
</main>
