<main class="main">
    <div class="main__accounts">
        <div class="main__accounts__card active">
            <div class="main__accounts__card__title">Debit Card</div>
            <div class="main__accounts__card__balance">5,125.5</div>
            <div class="main__accounts__card__currency">&dollar;</div>
        </div>

        <div class="main__accounts__card">
            <div class="white-layout"></div>
            <div class="main__accounts__card__title">Credit Card</div>
            <div class="main__accounts__card__balance">815.60</div>
            <div class="main__accounts__card__currency">&euro;</div>
        </div>
    </div>
    <div class="main__transactions">
        <form class="main__transactions__search" action="#">
            <div>
                <button type="submit"><mat-icon>search</mat-icon></button>
                <input type="text" placeholder="Search" />
            </div>
        </form>
        <div class="main__transactions__sort">
            <button type="button">
                <mat-icon>sort</mat-icon>
                <div>Transaction date</div>
            </button>
        </div>
        <div class="main__transactions__cards">
            <div class="main__transactions__cards__card">
                <div
                    class="main__transactions__cards__card__category cate_bg_primary"
                >
                    Home
                </div>
                <div class="main__transactions__cards__card__content">
                    <div class="_top">Flat rent for March</div>
                    <div class="_bottom">
                        <mat-icon class="expense_bg">arrow_upward</mat-icon>
                        <div class="__type">Expense</div>
                        &nbsp; · &nbsp;
                        <div class="__date">24.01.2022</div>
                        &nbsp; · &nbsp;
                        <div class="__note">John Smith</div>
                    </div>
                </div>
                <div
                    class="main__transactions__cards__card__amount expense_color"
                >
                    -$6500
                </div>
            </div>

            <div class="main__transactions__cards__card">
                <div
                    class="main__transactions__cards__card__category cate_bg_primary"
                >
                    Salary
                </div>
                <div class="main__transactions__cards__card__content">
                    <div class="_top">Salary</div>
                    <div class="_bottom">
                        <mat-icon class="income_bg">arrow_upward</mat-icon>
                        <div class="__type">Income</div>
                        &nbsp; · &nbsp;
                        <div class="__date">24.01.2022</div>
                        &nbsp; · &nbsp;
                        <div class="__note">John Smith</div>
                    </div>
                </div>
                <div
                    class="main__transactions__cards__card__amount income_color"
                >
                    $10000
                </div>
            </div>

            <div class="main__transactions__cards__card">
                <div
                    class="main__transactions__cards__card__category cate_bg_primary"
                >
                    Salary
                </div>
                <div class="main__transactions__cards__card__content">
                    <div class="_top">Salary</div>
                    <div class="_bottom">
                        <mat-icon class="income_bg">arrow_upward</mat-icon>
                        <div class="__type">Income</div>
                        &nbsp; · &nbsp;
                        <div class="__date">24.01.2022</div>
                        &nbsp; · &nbsp;
                        <div class="__note">John Smith</div>
                    </div>
                </div>
                <div
                    class="main__transactions__cards__card__amount income_color"
                >
                    $10000
                </div>
            </div>

            <div class="main__transactions__cards__card">
                <div
                    class="main__transactions__cards__card__category cate_bg_primary"
                >
                    Salary
                </div>
                <div class="main__transactions__cards__card__content">
                    <div class="_top">Salary</div>
                    <div class="_bottom">
                        <mat-icon class="income_bg">arrow_upward</mat-icon>
                        <div class="__type">Income</div>
                        &nbsp; · &nbsp;
                        <div class="__date">24.01.2022</div>
                        &nbsp; · &nbsp;
                        <div class="__note">John Smith</div>
                    </div>
                </div>
                <div
                    class="main__transactions__cards__card__amount income_color"
                >
                    $10000
                </div>
            </div>
        </div>
    </div>
    <div class="main__filters">
        <div class="main__filters__top">
            <button type="submit" class="main__filters__top__income">
                <mat-icon class="income_bg">arrow_upward</mat-icon> Income
            </button>
            <button type="submit" class="main__filters__top__expense">
                <mat-icon class="expense_bg">arrow_downward</mat-icon> Expense
            </button>
            <button type="submit" class="main__filters__top__transaction">
                <mat-icon class="transaction_bg">add</mat-icon> Add Transaction
            </button>
            <button type="submit" class="main__filters__top__account">
                <mat-icon class="transaction_bg">add</mat-icon> Add Account
            </button>
        </div>

        <div class="main__filters__bottom">
            <button
                type="submit"
                class="main__filters__bottom__piggybank"
            ></button>
            <button
                type="submit"
                class="main__filters__bottom__appartment"
            ></button>
            <button type="submit" class="main__filters__bottom__car"></button>
        </div>
    </div>
</main>
