@use "src/variables"as var;


.main {
    display: flex;
    padding: 0 40px;
    max-width: 1920px;
    margin: 0 auto 50px auto;
    justify-content: space-between;
    font-family: 'Space Grotesk', sans-serif;


    &__transactions {
        &__search {

            border-radius: 10px;

            div {
                display: flex;
                position: relative;
                width: 600px;
                border-radius: 10px;
                height: 45px;
                color: var.$login-button-color !important;

                input {
                    position: absolute;
                    width: calc(100% - 90px);
                    background: #fff;
                    height: 45px;
                    border-radius: 10px;
                    border: none;
                    padding-left: 50px;
                    padding-right: 40px;
                    font-size: 18px;
                    transition: 0.25s ease;
                }

                input:focus {
                    outline-width: 1px;
                    outline-style: solid;
                    outline-color: var.$login-button-border;
                }

                button {
                    position: absolute;
                    left: 11px;
                    top: 11px;
                    border: none;
                    background: none;
                    z-index: 99;

                    mat-icon {
                        transform: scale(1.2);
                        color: var.$login-button-color !important;
                    }
                }

            }

        }

        &__sort {
            margin: 10px 0;
            padding: 0 0 0 12px;
            color: var.$login-button-color;

            button {
                display: flex;
                align-items: center;
                background: none;
                border: none;
                cursor: pointer;
                color: var.$login-button-color;

                div {
                    margin-left: 8px;
                }

                mat-icon {
                    color: var.$login-button-color;
                }
            }
        }
    }


}

@media(max-width: 1439px) {
    .main {
        padding: 0 20px 0 20px;
    }
}