<div class="main__accounts" *ngFor="let item of accounts">
    <div class="main__accounts__card">
        <div class="white-layout" *ngIf="item.isActive"></div>
        <div class="main__accounts__card__title">
            {{ item.name }}
        </div>
        <div class="main__accounts__card__balance">{{ item.balance }}</div>
        <div class="main__accounts__card__currency">
            {{ item.currency_id?.symbol }}
        </div>
        <button
            class="main__accounts__card__details"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#accountModal"
            (click)="onAccountClick(item)"
        >
            See details
        </button>
    </div>
</div>

<!-- Modal -->
<div
    class="modal fade"
    id="accountModal"
    tabindex="-1"
    aria-labelledby="accountModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg modal__dialog">
        <div class="modal-content modal__dialog__content">
            <div class="modal__dialog__content__header">
                <div class="__title">Account Information</div>
                <button class="__edit"><mat-icon>edit</mat-icon></button>
                <button
                    (click)="deleteAccount(clickedAccount)"
                    class="__delete"
                >
                    <mat-icon>delete</mat-icon>
                </button>
                <button
                    type="button"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <div class="modal__dialog__content__row">
                <div class="__key">Title:</div>
                <div class="__value">{{ clickedAccount?.name }}</div>
            </div>

            <div class="modal__dialog__content__row">
                <div class="__key">Balance:</div>
                <div class="__value">
                    {{ clickedAccount?.balance }}
                    {{ clickedAccount?.currency_id?.symbol }}
                </div>
            </div>

            <div class="modal__dialog__content__row">
                <div class="__key">Currency:</div>
                <div class="__value">
                    {{ clickedAccount?.currency_id?.name }}
                    ({{ clickedAccount?.currency_id?.symbol }})
                </div>
            </div>

            <div class="modal__dialog__content__row">
                <div class="__key">Description:</div>
                <div class="__value">
                    {{ clickedAccount?.description }}
                </div>
            </div>

            <div class="button-row">
                <button
                    type="button"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    mat-raised-button
                    class="cancel-button"
                >
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
