@use "src/variables"as var;

.main__accounts {
    margin-top: -10px;


    &__card {
        cursor: pointer;
        width: 430px;
        height: 200px;
        background-image: url('../../../assets/img/card_bg.png') !important;
        background-size: cover;
        border-radius: 10px;
        position: relative;

        &__title {
            font-size: 32px;
            padding-top: 38px;
            padding-left: 40px;
            color: var.$app-white;
        }

        &__balance {
            font-size: 53px;
            margin-top: 45px;
            margin-left: 40px;
            color: var.$app-white;
        }

        &__currency {
            font-size: 64px;
            height: 90px;
            width: 90px;
            background-color: var.$app-white;
            color: #D376D7;
            position: absolute;
            top: 25px;
            right: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

        }

        &__details {
            position: absolute;
            bottom: 35px;
            right: 40px;
            font-size: 14px;
            text-decoration: none;
            z-index: 99;
            padding: 5px;
            color: #ffffff;
            border: none;
            background: none;
        }
    }

    .white-layout {
        position: absolute;
        left: 13px;
        top: 9px;
        width: 395px;
        height: 170px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .75);
        z-index: 99;
    }
}


.modal {
    &__dialog {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 590px;
        padding: 0;
        margin: auto;
        color: #333333;

        &__content {
            border: none !important;
            border-radius: 0 !important;
            height: 100%;
            width: 100%;
            padding: 40px 35px;
            position: relative;

            &__header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;


                .__title {
                    font-size: 32px;
                    margin-right: 70px;
                }

                button {
                    transform: scale(1.4);
                    background: none;
                    border: none;
                    color: #333333;
                }
            }

            .form-row {
                width: 100%;
            }

            &__row {
                display: flex;
                border-bottom: 1px solid #333333;
                padding: 16px 0;

                .__key {
                    width: 170px;
                    font-size: 20px;
                    font-weight: bold;
                }

                .__value {
                    width: calc(100% - 240px);
                    font-size: 20px;
                }
            }


            .button-row {
                position: absolute;
                bottom: 15px;
                right: 40px;


                .cancel-button {
                    border: none;
                    box-shadow: none;
                    font-size: 20px;
                    padding: 15px 25px;
                    border-radius: 10px;
                    color: var.$login-button-border;
                }

                .submit-button {
                    border: none;
                    box-shadow: none;
                    font-size: 20px;
                    background-color: #B9E2E6;
                    padding: 15px 25px;
                    margin-left: 10px;
                    border-radius: 10px;
                }

                .submit-button-active {
                    color: black;
                }
            }

        }
    }
}

@media(max-width: 1439px) {

    .main__accounts {
        &__card {
            width: 400px;
            height: 190px;

            &__title {
                font-size: 30px;
            }

            &__balance {
                font-size: 50px;
            }

            &__currency {
                font-size: 56px;
                height: 80px;
                width: 80px;
            }
        }

        .white-layout {
            left: 12px;
            top: 9px;
            width: 368px;
            height: 158px;

        }
    }
}